In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Data/SOTS_Dataset.csv')
df.head(5)

,Project,StationName,StationCode,Latitude,Longitude,TripCode,SampleTime_UTC,SampleTime_Local,Year_Local,Month_Local,...,Trigonium,Tripos,Tripos (gametes),Tropidoneis,Tryblionella,Undella,Vorticella,Warnowia,Xystonella,Xystonellopsis
0,SOTS,Southern Ocean Time Series - Remote Access Sam...,SOTS_RAS,-47.0227,142.2334,SOTS_IN2019_V02_CTD12_11.7,2019-03-20T03:50:00Z,2019-03-20 03:50:00,2019,3,...,0,7.096241e+07,0,0,0.0,0.0,0.0,0,0.0,0.0
1,SOTS,Southern Ocean Time Series - Remote Access Sam...,SOTS_RAS,-47.0227,142.2334,SOTS_IN2019_V02_CTD12_11.7,2019-03-20T03:50:00Z,2019-03-20 03:50:00,2019,3,...,0,0.000000e+00,0,0,0.0,0.0,0.0,0,0.0,0.0
2,SOTS,Southern Ocean Time Series - Remote Access Sam...,SOTS_RAS,-47.0227,142.2334,SOTS_IN2019_V02_CTD2_5.3,2019-03-16T13:30:00Z,2019-03-16 13:30:00,2019,3,...,0,0.000000e+00,0,0,0.0,0.0,0.0,0,0.0,0.0
3,SOTS,Southern Ocean Time Series - Remote Access Sam...,SOTS_RAS,-47.0227,142.2334,SOTS_IN2019_V02_CTD2_5.3,2019-03-16T13:30:00Z,2019-03-16 13:30:00,2019,3,...,0,0.000000e+00,0,0,0.0,0.0,0.0,0,0.0,0.0
4,SOTS,Southern Ocean Time Series - Remote Access Sam...,SOTS_RAS,-47.0227,142.2334,SOTS_IN2019_V02_CTD3_4.5,2019-03-17T01:11:00Z,2019-03-17 01:11:00,2019,3,...,0,0.000000e+00,0,0,0.0,0.0,0.0,0,0.0,0.0

In [3]:
df['SampleTime_UTC'] = pd.to_datetime(df['SampleTime_UTC'].astype(str),  format='mixed', dayfirst=True, errors='coerce')
df.index = df['SampleTime_UTC'] 
df = df[df['StationCode'] == 'SOTS_RAS'].drop(columns = ['Project','StationName','StationCode','TripCode','SampleTime_Local','SampleTime_UTC','Time_Local24hr'])
#df = df.astype(float)
df.head(5)

,Latitude,Longitude,Year_Local,Month_Local,Day_Local,Time_Local24hr,SampleDepth_m,CTDSST_degC,CTDChlaSurf_mgm3,CTDSalinity_psu,...,Trigonium,Tripos,Tripos (gametes),Tropidoneis,Tryblionella,Undella,Vorticella,Warnowia,Xystonella,Xystonellopsis
SampleTime_UTC,,,,,,,,,,,,,,,,,,,,,
2019-03-20 03:50:00+00:00,-47.0227,142.2334,2019,3,20,03:50,10.0,NaN,NaN,NaN,...,0,7.096241e+07,0,0,0.0,0.0,0.0,0,0.0,0.0
2019-03-20 03:50:00+00:00,-47.0227,142.2334,2019,3,20,03:50,10.0,NaN,NaN,NaN,...,0,0.000000e+00,0,0,0.0,0.0,0.0,0,0.0,0.0
2019-03-16 13:30:00+00:00,-47.0227,142.2334,2019,3,16,13:30,10.0,NaN,NaN,NaN,...,0,0.000000e+00,0,0,0.0,0.0,0.0,0,0.0,0.0
2019-03-16 13:30:00+00:00,-47.0227,142.2334,2019,3,16,13:30,10.0,NaN,NaN,NaN,...,0,0.000000e+00,0,0,0.0,0.0,0.0,0,0.0,0.0
2019-03-17 01:11:00+00:00,-47.0227,142.2334,2019,3,17,01:11,10.0,NaN,NaN,NaN,...,0,0.000000e+00,0,0,0.0,0.0,0.0,0,0.0,0.0

In [4]:
df['YearMonthDay'] = df.index.to_period('D')
df = df.groupby('YearMonthDay').mean()

/tmp/ipykernel_1859/188893384.py:1: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['YearMonthDay'] = df.index.to_period('D')

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
#Check if successive dates are 5-7 days after each other 
df = df
df['date_diff'] = df['SampleTime_UTC'].diff().dt.days

# Find where the difference is NOT in the range [5, 9]
violations = df[~df['date_diff'].between(5, 9, inclusive='both')]

# Print out the violations (excluding the first row, since it has NaN for diff)
violations